<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>Des liens et la méthode GET</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "/static/style.css">
    </head>
    <body>
        <h1> Page courante : page1</h1>
        <h1> Page précédente : {{ page_pre }}</h1>
        <p><a href = "/?provenance=page1">Lien vers la racine</a></p>
        <p><a href = "/page2/?provenance=page1">Lien vers la page 2</a></p>
    </body>
</html>