<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>Opérations</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "/static/style.css">
    </head>
    <body>
        <h1> Voici deux nombres entiers :</h1>
        <p><strong>{{ nombre1 }}</strong> et <strong>{{ nombre2 }}</strong></p>
        <p><a href = "/somme/?nombre1={{ nombre1 }}&nombre2={{ nombre2 }}">Ajouter ces deux nombres</a></p>
        <p><a href = "/produit/?nombre1={{ nombre1 }}&nombre2={{ nombre2 }}">Multiplier ces deux nombres</a></p>
    </body>
</html>